* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #edf0f1;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

h1 {
  text-align: center;
  font-size: 1.15rem;
  margin: 3rem auto 0;
  color: #5b5d5f;
}

form {
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 4px;
  max-width: 30rem;
  background-color: #1c1e20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form p {
  margin: 0;
}

label {
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  color: #e2e2e2;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 0.5rem;
  height: 4rem;
  background-color: #ebeff5;
  font-size: 2rem;
  border: none;
  outline: none;
  color: #1c1e20;
  border-radius: 5px;
}

.actions {
  text-align: right;
}

button {
  font: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  background-color: #e8cd45;
  color: #363738;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #f7e27e;
}

#final-price {
  text-align: center;
  max-width: 30rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 4px;
  background-color: #1c1e20;
  color: #e8cd45;
}
